@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-green: #387e78;
  --background-white: #F5F0E9;
  --main-font: #171717;
}


body {
  color: var(--main-font);
  background: var(--background-white);
  font-family: Arial, Helvetica, sans-serif;
}

.noto-sans {
  font-family: var(--font-noto-sans);
}